<!--Build this page out to be a submenu of the view-stock page.-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Inventory Tracker+</title>
        <link rel = "stylesheet" href= "/css/site.css"/>
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <section>
            <h2><%=stock.stock_name%> Stock</h2>
            <section>
                <div class="stock-item">
                    <img <%= stock.imageUrl ? `src=${stock.imageUrl}` : '' %> alt="Image of <%= stock.stock_name %>">
                    <p>Current Quantity: <%= stock.quantity %></p>
                    <form action="/update-stock-quantity/<%=stock._id%>" method="POST">
                        <label for="quantity">New Quantity:</label>
                        <input type="number" id="quantity" name="quantity" min="0" required>
                        <button type="submit">Update Stock</button>
                    </form>
                    <details>
                        <summary>Description</summary>
                        <p><%= stock.description %></p>
                    </details>
                    <p class="restock-amount">Restock when Current Quantity is less or equal to: <%= stock.min_to_restock %></p>
                </div>
            </section>
        </section>
        <%-include("partials/footer.ejs")%>
    </body>
</html>