<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Inventory Tracker+</title>
        <link rel = "stylesheet" href= "/css/site.css"/>
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <section>
            <h2>View Current Stock</h2>
            <section>
                <p>This is the page to view the current stock</p>
                <p>It should be a very dynamic page with a list of current items in the businesses inventory</p>
                <% for (stock of inventoryList) { %>
                <div class="stock-item">
                    <img <%= stock.stock_img ? `src="${stock.stock_img}"` : '' %> alt="Image of <%= stock.stock_name %>">
                    <h3><a href= "/modify-stock/<%=stock._id%>"><%= stock.stock_name %></a></h3>
                    <p>Current Quantity: <%= stock.quantity %></p>
                    <p class="restock-amount">Restock when Current Quantity is less or equal to: <%= stock.min_to_restock %></p>
                </div>
                <%}%>
            </section>
        </section>
        <%-include("partials/footer.ejs")%>
    </body>
</html>